/* work sans from google font */
@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300&family=Work+Sans:ital,wght@0,100;0,400;0,500;0,600;0,800;1,500;1,700&display=swap" rel="stylesheet">);

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* shared style */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.text-gray {
    color: #727272;
}

.section-title {
    color: #131313;
    font-weight: 700;
    font-size: 3rem;
    padding: 20px 0px;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-weight: 500;
    font-size: size 1rem;

}



.banner {
    text-align: center;
    align-items: center;

}

.banner-title {
    color: #131313;
    font-weight: 700;
    font-size: 4rem;
    padding: 40px;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 32px;
}

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: auto;
}

.banner-img {
    width: 100%;
    margin-top: 20px;

}

main {
    max-width: 1440px;
    margin: 0 auto;
}

/* teams section styles */
.teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
}

.teams img {
    padding: 10px;
}

.teams-img-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.teams-content {
    padding-right: 70px;
    padding-left: 70px;
}

.teams-title {
    font-size: 2.8rem;
}

.quick-list {

    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

.description {
    color: #727272;
    font-family: Work Sans;
    font-size: 1rem;

    font-weight: 400;
    padding-top: 24px;
    padding-bottom: 50px;
}


/* Facts section */
.facts-card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;

}

.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
    height: 150px;
    width: 240px;

}



.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;

}

.facts-card-container .card-stats {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* sponsers section */

.sponsers {
    text-align: center;
    margin-top: 50px;
}

.sponsers-img-container img {
    width: 165.833px;
    height: 50px;

}

.sponsers-img-container {
    display: flex;
    justify-content: space-around;
}

/* resposive media queries */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 15px;
    }

    .description {
        padding: 10px;
    }

    .teams,
    .facts-card-container {
        flex-direction: column;

    }


    .teams-img-containers {
        grid-template-columns: 1fr;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .facts {
        text-align: center;
    }

    .sponsers-img-container img {
        width: 50px;
        height: 25px;
    }

}

@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;

    }

    nav {
        flex-direction: column;
    }

    .nav-title {
        padding-bottom: 25px;
    }


    .teams,
    .facts-card-container {
        flex-direction: column;
    }

    .teams-content {
        padding-right: 20px;
        padding-left: 20px;
    }

    .facts-card-container {
        gap: 20px;
    }

    .facts {
        text-align: center;
    }

    .sponsers-img-container img {
        width: 70px;
        height: 40px;
    }
}